.card-body {
  padding-top: 0;
}

.totalGuestDescription {
  width: 65%;
}

.fa-calendar {
  color: #444444;
}

#selectDateDiv {
  margin: 10px 0;
  padding: 10px 4px;
  background: #E4E5E6;
}

#selectDate {
  background: #E4E5E6;
  border: 1px solid #C8CED3;
}
